---
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
import Layout from "../layouts/Layout.astro";
import TextWithPhoto from "../components/TextWithPhoto.astro";
import thirty_five from "../images/35.png";
import thirty_six from "../images/36.jpg";
import thirty_seven from '../images/37.jpg'
import thirty_eight from '../images/38.jpg'
import thirty_nine from '../images/39.jpg'
---

<Layout title='Announcements'>
  <TextWithPhoto
  photo={thirty_seven}
  alt='Poster'
  title='A Song of Resistance: The Fight for Community Arts'
>
  <p>
    I am happy to announce that work on our new video is now in its beginning stages.   With the able assistance of media veterans Joel Katz and Harry Kafka, "A Song of Resistance: The Fight for Community Arts" is a video documentary that will explore the life and work of Jersey City cultural activist Daoud Williams (1943-2025).  By following the 55-year journey of Daoud's work in community arts, the video will explore such questions as: What exactly are community arts? What role do the arts play in creating community? What can we learn from Daoud's life-long work in community arts?
  </p>
</TextWithPhoto>
  <TextWithPhoto
  photo={thirty_eight}
  alt='Poster'
  title='Man on a Mission: Upcoming Showings of the Documentary'
>
  <p>
    Our film documentary about the importance of the arts in a child’s emotional, social and academic development is now available for public showings at churches, schools and other community locations.  Dr. Robert Albrecht, co-director of the documentary, will introduce the video, respond to questions, and lead discussions related to the importance of the arts in education.
  </p>
</TextWithPhoto>
  <TextWithPhoto
  photo={thirty_nine}
  alt='Poster'
  title='Man on a Mission: Awards and Honors'
>
  <p>
    We are proud to announce that our documentary “Man on a Mission” has received a host of honors over the past couple of years.  As we enter more deeply into the Digital Age, the film’s appeal for the expansion of the arts in a child’s education, appears to have struck a responsive chord with audiences both locally and internationally.  The awards include:
Best Documentary Film (2024), The Golden Door International Film Festival, Jersey City.
Merit Award (2024), Impact Docs, La Jolla, California.
Best Documentary Film (2024), Helsinki Education Film Festival International.
The John Culkin Award (2025), Media Ecology Association at the Universidad Panamericana, Mexico City.

  </p>
</TextWithPhoto>
  <TextWithPhoto
    photo={thirty_five}
    alt='Poster'
    title='A Tale of Two Cities: Jersey City and Hoboken'
  >
    <p>
      Bob will perform selections from "A Tale of Two Cities: Jersey City and
      Hoboken" on Wednesday evening, November 13, 2024 at the Museum of Jersey
      City History. The Museum is located at 298 Academy Street, near Journal
      Square. Admission is free.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
  photo={thirty_six}
  alt='Poster'
  title='Man on a Mission: The Transformative Powers of the Arts'
>
  <p>
    "Man on a Mission: The Transformative Powers of the Arts", the documentary that Bob made with Dina Bruno about the powerful role that the arts play in education, has just been selected for inclusion in the Helsinki Education Film Festival International.  At the festival, Bob will be taken on an educational cruise to Sweden with the Minister of Education of Finland together with a group of Finnish educators. 
  </p>
</TextWithPhoto>
  <section>
    <p class='text'>
      Bob will be screening and discussing "Man on a Mission", the award winning
      documentary he co-produced with Dina Bruno, at the Universidad
      Panamericana in Mexico City in June 2025.
    </p>
    <a href="https://movil.up.edu.mx/universidad-panamericana-en-linea/mea-2025" target="_blank">Link to conference</a>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text1);
    font-family: var(--font-sans);
  }

  @media only screen and (min-width: 768px) {
    section {
      gap: 2rem;
      padding: 5rem 0;
      align-items: flex-start;
    }

    .text, a {
      font-size: 1.5rem;
    }
  }
</style>
